/* Beginning of Header CSS */
header {
    display: flex;
    height: 15vh;
    max-height: 15vh;
    margin-left: 20%;
    margin-right: 10%;
    border-bottom: 5%;
    border-bottom-style: solid;
    box-sizing: border-box;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    margin-left: auto; /* to push header to the right */
/*    min-width: auto;
    min-height: auto; */
}

.header-div-h5 {
    display: flex;
    text-align: right;
    margin-left: auto;
    align-items: center; /* this is the property needed to make the text rise above the bottom border */
}

header>img {
    width: 5%;
    height: 100%;
    display: flex;
}

/* Ending of Header CSS */

/* Beginning of Main CSS */

main {
    display: flex;
    flex-direction: row;
    height: 50vh;
    background-color: yellow;
    box-sizing: border-box;
    width: 100vw;
}

.main-left-column {
    display: flex;
    max-width: 20%;
    width:20%;
    flex-direction: column;
}

.main-right-column {
    display: flex;
    max-width: 70%;
    width: 70%;
    min-width:70%;
    margin-right: 10%;
    background-color: red;
}
/* this CSS makes the image fit the container above */
.main-right-column-image {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
/* This Part Places the Images and their text in the right format */
main>aside>figure {
    display: flex;
    min-height: 48px;
    min-width: 48px;
    flex-direction: column;
    text-align: center;
}
/* Ending of Main CSS */

/* Beginning of Footer */

footer {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-left: 20%;
    margin-right: 10%;
}
footer>section {
    display: flex;
    margin-right: 40%;
}
footer>div>section>img{
    display: flex;
    min-width: 48px;
    min-height: 48px;
    max-height: 48px;
    max-width: 48px;
}

.Footer-box-container {
    display: flex;
    flex-direction: row;
}
