body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}
header, nav, footer, figure, div, aside {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/* Beginning of Header CSS */
header {
    display: flex;
    max-height: 15vh;
    margin-top: 4em;
    margin-left: 20%;
    margin-right: 10%;
    border-bottom-style: solid;
    border-bottom-color: grey;
}

.header-text-container {
    margin-left: auto; /* to push header to the right */
}

.header-title {
  flex-basis: 10px
}

.header-sub-title {
    text-align: right;
}

.header-logo {
    width: 5vw;
    height: 5vw;
}

/* Ending of Header CSS */

/* Beginning of Main CSS */

main {
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    background-color: yellow;
    margin-right: 10%;
    margin-left: 5%;
    flex-wrap: nowrap;
    overflow: auto;
    /* overflow makes content contained to a container */
}

.main-left-column {
    min-width: 20%;
    max-width: 20%;
    order: 0;
    background-color: blue;
}
/* This Part Places the Images and their text in the right format */
main>aside>figure {
    display: flex;
    min-height: 48px;
    min-width: 48px;
    flex-direction: column;
    text-align: center;
}

.main-right-column {
  box-sizing: border-box;
  max-width: 100%;
  background-color: red;
  min-width: 100%;
  margin-right: 10%;
  margin-left: 0%;
  order: 1;
  overflow: auto;
}
/* this CSS makes the image fit the container above */
.main-right-column-image {
  object-fit: fill;
}

/* Ending of Main CSS */

/* Beginning of Footer */

.Featured-Work {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-left: 20%;
    margin-right: 10%;
}
nav>div>ul {
    display: flex;
    flex-direction: column;
}
nav>div>ul>img{
    display: flex;
    min-width: 48px;
    min-height: 48px;
    max-height: 48px;
    max-width: 48px;
}

.Footer-box-container {
    display: flex;
    flex-direction: row;
}
