
header {
    display: flex;
    height: 15vh;
    max-height: 15vh;
  /*  flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100vw;
    background-color: red;
    align-items: stretch;*/
    margin-left: 20%;
    margin-right: 10%;
    border-bottom-style: solid;
}

.headerDiv {
    flex-direction: column;
    margin-left: auto;
}

header>img {
  /*  align-self: flex-start;*/
    width:5%;
    height: 100%;
    display: flex;
}
.Zerg {
    width: 5%;
    height:20%;
}

main>aside>figure {
    margin-top: 2.5%;
}
